@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
.container {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*Variables*/
$accent-color: #16a085;

/*Styles for section: header*/
header {
    height: 100vh;
    background-size: cover;
    color: white;
    background-image: url('../images/back.jpg'); 
    background-size: cover; 
    background-position: bottom;
    position: relative;
}
.navbar-inverse {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    .navbar-nav {
        width: 100%;
        margin: 0;
        padding: 0;
        li {
            float: none;
            display: inline-block;
            width: 19%;
            a {
                color: white;
                transition: 0.3s;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
    .navbar-toggle {
        border: none;
        &:hover,
        &:focus {
            background-color: $accent-color;
        }
    }
    .navbar-collapse {
        border: none;
    }
}
.hero {
    margin-top: 30vh;
    letter-spacing: 3px;
    font-weight: bold;
}
.hero button,
.photoapp button,
.design button {
    background-color: $accent-color;
    border: none;
    padding: 15px 30px;
    border-radius: 3px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s;
    &:hover {
        background-color: white;
        color: $accent-color;
    }
}
.social {
    position: absolute;
    bottom: 20px;
    font-size: 30px;
    width: 100%;
    left: 0;
    .fa {
        transition: 0.3s;
        padding: 0 5px;
        &:hover {
            color: $accent-color;
        }
    }
}
/*Styles for section: photoapp*/
.photoapp {
    background-color: #f5f6f7;
    letter-spacing: 1px;
    .container {
        padding-bottom: 0;
    }
    .row {
        position: relative;
        .col-md-6 {
            position: absolute;
            top: 0;
            z-index: 100;
        }
        .col-md-12 {
            height: 400px;
            overflow: hidden;
            padding-left: 30%;
        }
    }  
}
.photoapp h3,
.design h3 {
    color: $accent-color;
}
.photoapp p,
.design p {
    margin: 20px 0;
    color: #373737;
    letter-spacing: 1px;
}
/*Styles for section: design*/
.design {
    height: 450px;
    overflow: hidden;
}
#carousel,
#carousel2 {
    width: 400px;
    overflow: hidden;
    margin: 0 auto;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 2000px;
        li {
            float: left;
            width: 400px;
        }
    }  
}
#indicators {
    display: inline-block;
    margin: 30px 10px 10px 10px;
    font-weight: bold;
} 
.arrow {
    display: inline-block;
    margin: 0 7px;
    font-size: 18px;
    &:hover {
        cursor: pointer;
        color: $accent-color;
    }
}
/*Styles for section: community*/
.community {
    background-color: #f5f6f7;
    .col-md-4 {
        padding: 20px;
        h3 {
            margin-top: 40px;
        }
        p {
            margin: 20px 50px;
        }
    }
}
#carousel2 {
    width: 750px;  
    ul {
        width: 2250px;
        li {
            width: 350px;
            margin: 0 12.5px;
            img {
                width: 100%;
            }
        }
    }
}
/*Styles for section: subscriptions*/
.subscriptions {
    height: 100vh;
    background-image: url("../images/Livello 3.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
form {        
    margin-top: 20px;
    input {
        height: 50px;
        padding: 10px;
        border: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        color: #373737;
    }
    button {
        border: none;
        background-color: $accent-color;
        color: white;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        font-size: 25px;
        height: 50px;
        &:hover {
            background-color: white;
            color: $accent-color;
        }
    }
}
/*Styles for section: subscriptions*/
.download {
    background-color: #f5f6f7;
    p {
        padding: 0 100px 50px 100px;
    }
    form {
        display: inline-block;
        width: 400px;
        input {
            background-color: #1abc9c;
            color: white;
            &:placeholder {
                color: white;
            }
        }
        ::-webkit-input-placeholder {
            color: white;
        }
        ::-moz-placeholder {
            color: white;
        }
        :-moz-placeholder {
            color: white;
        }
        :-ms-input-placeholder {
            color: white;
        }
    }
}
/*Styles for section: footer*/
footer {
    font-weight: bold;
    .footer-div {
        display: inline-block;
        padding-right: 10px;
        margin-bottom: 10px;
        border-right: 2px solid $accent-color;
    }
    .footer-div:nth-of-type(3) {
        border: none;
        padding-left: 10px;
    }
    .footer-div:nth-of-type(2) {
        padding-left: 10px;
    }
}

/*Media queries*/
@media (max-width: 500px) {
    /*Styles for section: subscriptions*/
    .download {
        form {
            width: 300px;
        }
    }
    /*Styles for section: footer*/
    footer {
        text-align: center;
    }
}
@media (max-width: 767px) {
    /*Styles for section: header*/
    .navbar-inverse {
        .navbar-nav li:nth-of-type(3) {
            display: none;
        }
        .navbar-nav li {
            width: 100%;
            text-align: center;
        }
    }
    .hero {
        margin-top: 10vh;
       h1 {
           font-size: 40px;
       } 
    }
    /*Styles for section: design*/
    #carousel {
        width: 300px;
        ul {
            width: 1500px;
            li {
                width: 300px;
            }
        }
    }
    /*Styles for section: subscriptions*/
    .download {
        p {
            padding: 0 10px 50px 10px;
        }
    }
}
@media (max-width: 991px) {
    /*Styles for section: photoapp*/
    .photoapp {
        .container {
            margin-bottom: 50px;
        }
        .row {
            text-align: center;
            .col-md-6 {
                position: relative;
                margin-bottom: 10px;
            }
            .col-md-12 {
                padding-left: 0;
                height: auto;
                img {
                    width: 300px;
                }
            }
        }
    }
    /*Styles for section: design*/
    .design {
        height: auto;
        text-align: center;
        img {
            width: 100px;
        }
    }
    /*Styles for section: community*/
    .community {
        [class^="col"]{
            width: 100%;
        }
        .text-right {
            text-align: center;
            margin-bottom: 10px;
        }
    }
    #carousel2 {
        width: 300px;
        ul {
            width: 1800px;
            li {
                width: 300px;
                margin: 0;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    /*Styles for section: community*/
    .community {
        [class^="col"]{
            width: 100%;
        }
        .text-right {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}